.container-weather {
  width: 750px;
  height: 540px;
  background-color: #e8aa8c;
  position: relative;
  margin: 100px auto;
  filter: drop-shadow(0px 0px 8px rgb(184, 184, 184));
  padding: 30px;
  border-radius: 40px;
}
.placetag {
  position: relative;
  left: 10px;
}
form {
  font-family: Rubik;
}
button {
  border-radius: 90px;
  width: 212px;
  height: 34px;
  font-size: 15px;
  font-family: Rubik;
  background-color: white;
  position: relative;
  left: 10px;
}
.currentcity {
  font-family: Rubik;
  font-size: 40px;
  font-weight: bold;
}
.timetoday {
  font-family: Rubik;
  font-size: 18px;
  left: 135px;
  position: relative;
}

.timeicon {
  position: relative;
  left: 110px;
  bottom: -24px;
}

.city {
  border-radius: 90px;
  width: 420px;
  height: 34px;
  border-width: 2px;
  border-color: black;
  position: relative;
}
.secondrow {
  position: relative;
  top: -18px;
  left: -5px;
}
.weatherinfo {
  position: relative;
  top: 42px;
  left: -10px;
}

ul {
  font-family: Rubik;
  font-size: 15px;
  list-style: none;
}

li {
  height: 40px;
}
hr.precipitationline {
  margin-top: 2px;
  width: 255px;
  height: 1px;
  border-top: 2px solid black;
  background-color: black;
  opacity: 70%;
}

hr.humidityline {
  width: 255px;
  margin-top: 2px;
  height: 1px;
  border-top: 2px solid black;
  opacity: 70%;
}

.percentage {
  font-family: Rubik;
  font-size: 18px;
  font-weight: bolder;
  position: relative;
  float: right;
  top: -3px;
}

.airpressure-icon {
  position: relative;
  left: -7px;
  bottom: -2px;
  float: right;
}

.humidityicon {
  position: relative;
  float: right;
  left: -7px;
  bottom: -3px;
}

.windicon {
  position: relative;
  float: right;
  left: -7px;
  bottom: -2px;
}

.icontoday {
  position: relative;
  bottom: -8px;
  left: 32px;
}

.currentDescription {
  font-size: 15px;
  font-family: Rubik;
  display: flex;
  align-items: center;
  justify-content: center;
}
.temperaturenow {
  font-size: 87px;
  position: relative;
  font-family: Rubik;
  top: -4px;
}

.unit {
  font-size: 42px;
  position: relative;
  font-family: Rubik;
  margin-top: 17px;
  top: -12px;
}

.actualtemp {
  position: relative;
  display: flex;
  align-self: center;
  top: -2px;
}

.tempCol {
  display: flex;
  align-items: center;
  justify-content: center;
}
hr.boldline {
  border-top: 3px solid black;

  height: 2px;
  position: relative;
  border-radius: 5px;
  width: 660px;
  left: 28px;
  color: black;
  opacity: 80%;
  top: -30px;
}
.forecastContainer {
  position: relative;
  align-items: center;
  font-family: Rubik;
  font-size: 16px;
  font-weight: bolder;
  left: 40px;
}

.dayForecast {
  position: relative;
  align-items: center;
  text-align: center;
}
.coded-by {
  font-size: smaller;
  text-align: center;
}

.maxtemp {
  font-size: 20px;
  font-family: Rubik;
  font-weight: bolder;
  position: relative;
  left: -4px;
  bottom: -50px;
}

.smallvl {
  border-left: 1px solid black;
  height: 24px;
  position: relative;
  left: 6px;
  bottom: -50px;
}

.mintemp {
  font-size: 20px;
  font-family: Rubik;
  font-weight: lighter;
  color: white;
  position: relative;
  right: -22px;
  bottom: -50px;
}

.dayForecast {
  font-family: Rubik;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: -20px;
}

.forecastIcon {
  position: relative;
  bottom: -10px;
}

.minmax-temp {
  position: relative;
  bottom: 10px;
}
